// Константы ==============================================================
$fontSize: toRem(16);
$fontFamily: 'Arial', sans-serif;

// Адаптивное свойство ====================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1140;

$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$responsiveType: 1;

$bckgColor: #264E5A;
$mainColor: #4e82fc;
$bckColor: #4CAF50;

$fontColorLight: #ffffff;
$fontColorBlack: #000000;

// Брэйк-поинты ===========================================================
$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);



// PC ====================================================================
@media(max-width: $pc) {

}
// TABLET =================================================================
@media(max-width: $tablet) {

}
// MOBILE =================================================================
@media(max-width: $mobile) {

}
// MOBILE_SMALL ===========================================================
@media(max-width: $mobileSmall) {

}
